.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 20px;
  }
  
  .product-card {
    width: 400px;
    text-align: center;
  }
  
  .card-content img {
    margin-bottom: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }  